.tickets-options{
    padding: .5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tickets-options a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    padding: .5rem 2rem;
    border-radius: 8px;
    background-color: #27AE60;
    transition: all 0.3s ease;
}

.tickets-options .reporte{
    background-color: #FFFFFF;
    color: black;
    padding: .54rem 1rem;
}
.tickets-options .reporte i{
    color: #f62d2d;
    margin-left: 1.5rem;
}

.tickets-options a:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.tickets-options .reporte:hover{
    background-color: #ffdcdc;
}


.tickets-options .filtros{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tickets-options .filtros div{
    margin-right: .3rem;
    background-color: #ffffff;
    padding: .5rem;
    border-radius: 5px;
}
.tickets-options .filtros div input, select{
    border: none;
    font-size: 1rem;
    padding-right: .5rem;
}
.tickets-options .filtros div input,select:focus{
    outline: none;
}

.tickets-options .filtros div button{
    border: none;
    background-color: transparent;
    transition: all 0.3s;
}

.tickets-options .filtros div button:hover{
    cursor: pointer;
    scale: 1.3;
}

.tickets {
    padding: 1rem;
}

.tickets-container{
    display: grid;
    grid-template-columns: repeat(2, 32rem);
    align-items: flex-start;
    justify-content: center;
    padding: .4rem 0;
}

.tickets-card{
    position: relative;
    text-align: center;
    height: 16.5rem;
    margin: 0 0 2.5vh 1.5vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 1px;
    transition: all 0.3s ease;
    border-radius: 5px;
}


.tickets-detalles{
    height: 82%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tickets-detalles .general{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.tickets-detalles .general p{
    font-size: 1rem;
    font-weight: 600;
}


.tickets-detalles .detallado{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}
.tickets-detalles .detallado p{
    font-size: 0.95rem;
    font-weight: 520;
    color: #9f9f9f;
}

.tickets-btns{
    background-color: #d4e6f1;
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.5rem;
}
.tickets-btns-aux{
    background-color: #d4e6f1;
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.btn{
    width: 2.8rem;
    padding: .4rem .0rem;
    border-radius: 8px;
    background-color:#ffffff;
    margin-right: .3rem;
    font-size: 1.25rem;
}

.btns-aux{
    display: flex;
    align-items: center;
    justify-content: start;
}

.btn-newTicket{
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #27AE60;
    transition: all 0.3s ease;
}
.btn-newTicket:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.btn-newTicket i{
    margin-left: .6rem;
    font-size: 0.9rem;
}


.btns-aux a{
    color: #5499C7;
}

.btns-cli{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns-status{
    height: 2.45rem;
    padding: .8rem;
    border-radius: 10px;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btns-status select{
    font-size: 0.9rem;
    font-weight: 600;
    padding: .1rem .1rem;
    border-radius: 8px;
    background-color:#F0F3F4;
    margin-right: .3rem;
    color: #3498DB;
}

.btns-status button{
    cursor: pointer;
    border: none;
    border-radius: 100%;
    padding: 0.0rem 0.14rem;
    font-size: 1.25rem;
    color: #3498DB;
}


.btns-cli a{
    color: #48C9B0;
}

.btns-repo{
    display: flex;
    align-items: center;
    justify-content: end;

}

.btns-repo a{
    color: #f62d2d;
}

.tickets-btns, .tickets-btns-aux a:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    transform: scale(1.1);
    cursor: pointer;
}



.myModal_AsigAux .auxiliares-container-tickets{
    display: grid;
    grid-template-columns: repeat(4, 14rem);
    padding: .4rem 0;
    max-height: 30rem;
    overflow: auto;
}

.myModal_AsigAux .auxiliares-card-tickets{
    position: relative;
    width: 95%;
    height: 14.5rem;
    margin: 0 0 2.5vh 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #EAF2F8;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.myModal_AsigAux .auxiliares-card-tickets:hover{
    box-shadow: 0px 0px 3px 4px rgba(46, 204, 113 , 0.6);
    transform: translateY(3px);
}


.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-name-tickets{
    margin-top: -.5rem;
    width: 100%;
    height: 10rem;
}
.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-name-tickets p{
    font-size: 1rem;
    height: 2.5rem;
    text-align: center;
}

.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-data-tickets{
    margin-top: -.5rem;
    color: #9f9f9f;
    font-size:.9rem;
}
.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-data-tickets p{
    font-size: 1rem;
    font-weight: 600;
    height: 1.2rem;
    text-align: center;
}

.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .img-container-tickets{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .img-container-tickets img{
    border-radius: 100%;
    width: 52%;
    height: 97%;
    overflow: hidden;
    object-fit: cover;
}

.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-bar-tickets{
    margin-top: -.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #00a2ff;
}
.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-bar-tickets p{
    font-weight: 600;
    color: #00a2ff;
}

.myModal_AsigAux .modal-content .modal-body .auxiliares-container-tickets .auxiliares-card-tickets .auxiliares-btns-tickets{
    margin-top: -.5rem;
    background-color: #d4e6f1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .22rem;
}

.myModal_AsigAux .auxiliares-card-tickets .auxiliares-btns-tickets a{
    text-align: center;
    width: 3rem;
    padding: .4rem .0rem;
    border-radius: 8px;
    background-color:#ffffff;
}
.myModal_AsigAux .auxiliares-card-tickets .auxiliares-btns-tickets a i{
    font-size: 1.4rem;
    color: #27AE60;
}
.myModal_AsigAux .auxiliares-card-tickets .auxiliares-btns-tickets a i:hover{
    font-size: 1.4rem;
    color: #27AE60;
}



.myModal_MensajeAux .modal-footer-tickets {
    padding: .8rem;
    background-color: #F0F3F4;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.myModal_MensajeAux .modal-footer-tickets textarea{
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 88%;
    padding: .1rem .3rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    border: 2px solid rgba(37, 138, 206, .2);
    background-color: rgba(154, 215, 255, 0.2);
    resize: none;
  }
.myModal_MensajeAux .modal-footer-tickets textarea{
    color: #5499C7;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    width: 88%;
    padding: .1rem .3rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    border: 2px solid rgba(37, 138, 206, .2);
    background-color: rgba(154, 215, 255, 0.2);
  }
.myModal_MensajeAux .modal-footer-tickets button{
    font-family: 'Montserrat', sans-serif;
    width: 12%;
    padding: .1rem .5rem;
    border-radius: 5px;
    border: 2px solid rgba(37, 138, 206, .2);
    background-color: rgba(154, 215, 255, 0.2);
  }
.myModal_MensajeAux .modal-footer-tickets button i{
    font-size: 1.4rem;
    padding: 0.4rem 0.1rem;
  }
.myModal_MensajeAux .modal-body-tickets{
    background-color: #FFFFFF;
    padding: 1rem;
    max-height: 25rem;
    overflow: auto;

  }
.myModal_MensajeAux .modal-body-tickets .mensaje{
    width: 100%;
    text-align: left;
    padding: 0.3rem 0.5rem;
    border-radius: 0 30px 30px 35px;
    background-color: #D6EAF8;
    margin-bottom: 0.5rem;
  }
.myModal_MensajeAux .modal-body-tickets .mensaje p{
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
  }


  /*  */

.myModal_MensajeCli .modal-footer-tickets {
    padding: .8rem;
    background-color: #F0F3F4;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.myModal_MensajeCli .modal-footer-tickets textarea{
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 88%;
    padding: .1rem .3rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    border: 2px solid rgba(37, 138, 206, .2);
    background-color: rgba(154, 215, 255, 0.2);
    resize: none;
  }
.myModal_MensajeCli .modal-footer-tickets textarea{
    color: #5499C7;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    width: 88%;
    padding: .1rem .3rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    border: 2px solid rgba(37, 138, 206, .2);
    background-color: rgba(154, 215, 255, 0.2);
  }
.myModal_MensajeCli .modal-footer-tickets button{
    font-family: 'Montserrat', sans-serif;
    width: 12%;
    padding: .1rem .5rem;
    border-radius: 5px;
    border: 2px solid rgba(37, 138, 206, .2);
    background-color: rgba(154, 215, 255, 0.2);
  }
.myModal_MensajeCli .modal-footer-tickets button i{
    font-size: 1.4rem;
    padding: 0.4rem 0.1rem;
  }
.myModal_MensajeCli .modal-body-tickets{
    background-color: #FFFFFF;
    padding: 1rem;
    max-height: 25rem;
    overflow: auto;
  }
.myModal_MensajeCli .modal-body-tickets .mensaje{
    width: 100%;
    text-align: left;
    padding: 0.3rem 0.5rem;
    border-radius: 0 30px 30px 35px;
    background-color: #D6EAF8;
    margin-bottom: 0.5rem;
  }
.myModal_MensajeCli .modal-body-tickets .mensaje p{
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
  }

.btn_buscarTicket{
    border: none;
    background-color: #FFFFFF;
    padding: 0 0.3rem;
    cursor: pointer;
    }
.btn_buscarTicket i{
        font-size: .8rem;
    }
